# Backend Configuration
PORT=8081
CONTENT_STORAGE_ROOT=storage/media
CONTENT_MEDIA_BASE_URL=http://localhost:8081/api/files
CONTENT_DATA_PATH=storage/data
CONTENT_ADMIN_TOKEN=my-secret-token-2024
PUBLIC_APP_ORIGIN=http://localhost:5200
